<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3 ion-text color="light" class="page-number">4</h3>
    <ion-card-content>
      <p>
        Ut lorem odio, lobortis non hendrerit sed, rhoncus et nisi. Nulla fringilla, orci eget interdum interdum, ligula dui luctus risus, et sollicitudin tortor dolor hendrerit tellus. Nam fermentum commodo condimentum. Sed purus lectus, molestie eget vulputate eget, congue eu augue. Nullam eu ex eget orci commodo iaculis. Suspendisse pellentesque elit eu dolor fermentum, vel posuere neque dictum. Donec ultrices eget ligula a porttitor. Donec eleifend porta porta. 

      </p>
      <p>Fusce a pulvinar eros. Fusce ultricies libero consequat, maximus lorem sit amet, tincidunt nisi. Proin sit amet auctor purus, non eleifend eros. Donec eleifend, dolor ac pharetra placerat, augue tortor aliquam nunc, ac faucibus nisi purus at sem. </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button color="primary" [routerDirection]="'root'" [routerLink]="['/chapter3']">Previous Page
      <ion-icon name="arrow-back"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="primary" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents
      <ion-icon name="menu"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="primary" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Page
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

 
