<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3 ion-text color="light" class="page-number">5</h3>
    <ion-card-content>
      <p>Fusce a pulvinar eros. Fusce ultricies libero consequat, maximus lorem sit amet, tincidunt nisi. Proin sit amet auctor purus, non eleifend eros. Donec eleifend, dolor ac pharetra placerat, augue tortor aliquam nunc, ac faucibus nisi purus at sem. Morbi a tempor nibh, eu varius mi. </p>
      <p>Fusce a pulvinar eros. Fusce ultricies libero consequat, maximus lorem sit amet, tincidunt nisi. Proin sit amet auctor purus, non eleifend eros. Donec eleifend, dolor ac pharetra placerat, augue tortor aliquam nunc, ac faucibus nisi purus at sem. Morbi a tempor nibh, eu varius mi. </p>
      <p>Fusce a pulvinar eros. Fusce ultricies libero consequat, maximus lorem sit amet, tincidunt nisi. Proin sit amet auctor purus, non eleifend eros. Donec eleifend, dolor ac pharetra placerat, augue tortor aliquam nunc, ac faucibus nisi purus at sem. Morbi a tempor nibh, eu varius mi. </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button color="primary" [routerDirection]="'root'" [routerLink]="['/chapter4']">Previous Page
      <ion-icon name="arrow-back"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="primary" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents
      <ion-icon name="menu"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="primary" [routerDirection]="'root'" [routerLink]="['/chapter6']">Next Page
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

 
